### Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [7]:
test1 = 'This is a test of the emergency text system,'
f = open('test.txt', 'w')
f.write(test1)

44

#

### Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [8]:
f2 = open('test.txt', 'r')
test2 = f2.readline()
test2

'This is a test of the emergency text system,'

In [9]:
if test1 == test2:
    print("same")
    
# Both are same

same

#

### Q3. Create a CSV file called books.csv by using these lines: title,author,year ; The Weirdstone of Brisingamen,Alan Garner,1960 ; Perdido Street Station,China Miéville,2000 ; Thud!,Terry Pratchett,2005 ; The Spellman Files,Lisa Lutz,2007 ; Small Gods,Terry Pratchett,1992

In [11]:
import csv 

header = ['title', 'author', 'year']
books_data = [
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]
]

with open('books.csv','w', encoding='UTF8' ,newline='') as f3 :
    
    writer = csv.writer(f3)
    writer.writerow(header)
    writer.writerows(books_data)

#

### Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [10]:
import sqlite3

mydb = sqlite3.connect('books.db')
cursor = mydb.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS books(Title TEXT, Author TEXT, Year INT)")

mydb.commit()

#

### Q5. Read books.csv and insert its data into the book table.

In [12]:
import pandas

dataframe = pandas.read_csv('books.csv')
print(dataframe)
    
dataframe.to_sql('books', mydb, if_exists='replace',index=False)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

5

#

### Q6. Select and print the title column from the book table in alphabetical order.

In [14]:
cursor.execute("SELECT title FROM books ORDER BY title")

record = cursor.fetchall()
for i in record:
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

#

### Q7. From the book table, select and print all columns in the order of publication.

In [15]:
cursor.execute("SELECT * FROM books ORDER BY year")

dataframe1 = pandas.DataFrame(cursor.fetchall(), columns=['title', 'author', 'year'])
dataframe1

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

#

### Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [16]:
import sqlalchemy as sqla

engine = sqla.create_engine('sqlite:///books.db')
result  = engine.execute('SELECT * FROM books')
for i in result:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#

### Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [17]:
pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\himz\anaconda3\lib\site-packages (from redis) (21.3)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\himz\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\himz\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis

try:
    redisconn = redis.StrictRedis(host='localhost', port=6379, password="", decode_responses=True)
    redisconn.hset('test', {'count':1, 'name':'Fester Bestertester'})
    print(redisconn.hgetall('test'))
except Exception as e:
    print(e)

#

### Q10. Increment the count field of test and print it.

In [ ]:
redisconn.hincrby('test','count',2)