In [1]:
# Q1. Which of them are values or expression? Value can be integer or string & expressions will be math operators.

In [ ]:
*       -->  Expression
'hello' -->  Value (string) 
-87.8   -->  Value  (Float)
-       -->  Expression
/       -->  Expression
+       -->  Expression
6       -->  Value (integer)

In [2]:
# Q2. What is the difference between string and variable?

In [ ]:
String -> A string is a sequence of ALL the characteres defined in coding langauge i.e. Unicode characters. String is written
            in either single quotes like 'asd' or double quotes "asd" , both having same relevance.
    
Variable -> We can see variable as a TAG. Like if we say a = 5 , here some space is taken in memory with value 5
            and that memory has been assigned a name 'a'. So 'a' has been TAGGED to that memory. And this is what variable is.

In [3]:
# Q3. Describe three different data types.

In [ ]:
1. Integer  --> Number without any decimal component. Like 3,71283,-12 etc. We can say they are whole numbers.
2. Float    --> Number with decimal component. Like 3.14,7.34 etc
3. String   --> A string is a sequence of ALL the characteres defined in coding langauge i.e. Unicode characters. 
                String is written in either single quotes like 'asd' or double quotes "asd" , both having same relevance.

In [4]:
# Q4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is made up of operators (+,-,* etc) and operands (variables or constants on which operators perform). 
All expressions try to give us some value by evaluating the equation of operators and operands combined.

In [5]:
# Q5. A Statement, a = 10 . difference between an expression and statement?

In [ ]:
a = 10 is indeed just a statement because we aren't performing any operations on it via operators which could have made it 
an expression. The above statement is just assigning a value to variable, not operating something on it as operand via operator.
This is the difference between expression and statement.
If we were doing a+b=10 , then yes it's an expression.

In [6]:
# Q6. bacon = 22 ... bacon+1  ... what does the variable bacon contain?

In [7]:
bacon = 22
bacon+1

23

In [ ]:
bacon contains 23 after increment

In [8]:
# Q7. 'spam' + 'spamspam'  ....  'spam'*3

In [ ]:
both containing same output  -->  spamspamspam

In [9]:
# Q8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
That's because a variable name can't start with number. However writing e100gg is valid. 
We just need to start variable with a character or underscore

In [10]:
# Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
integer -> int()
float   -> float()
string  -> str()

In [11]:
# Q10. Why does this expression cause an error? How can you fix it?
# 'I have eaten'+99+'burritos.'

In [ ]:
It caused an error because string and integer concatenation is not possible.
We simply need to convert integer into string using str() OR by putting 99 under ' '.

In [13]:
'I have eaten' + str(99) + 'burritos.'

'I have eaten99burritos.'

In [14]:
'I have eaten' + '99' + 'burritos.'

'I have eaten99burritos.'

In [ ]:
"""

Thank You :)

"""