In [1]:
# Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
#     the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
#     [1980, 1981, 1982, 1983, 1984, 1985].

In [4]:
years_list = [i for i in range(1996,2002)]
years_list

[1996, 1997, 1998, 1999, 2000, 2001]

In [2]:
# Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [5]:
years_list[3]

1999

In [6]:
# Q3. In the years list, which year were you the oldest?

In [7]:
years_list[len(years_list)-1]

2001

In [8]:
# Q4. Make a list called things with these three strings as elements: "mozzarella","cinderella","salmonella".

In [9]:
things = ["mozzarella","cinderella","salmonella"]

In [10]:
# Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the
#     element in the list?

In [11]:
things[1].capitalize()

'Cinderella'

In [12]:
things

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
No it didn't change element in the list.

In [13]:
# Q6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [14]:
surprise = ["Groucho" , "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

In [15]:
# Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [16]:
surprise[2] = surprise[2][::-1].lower()
surprise

['Groucho', 'Chico', 'oprah']

In [18]:
surprise[2] = surprise[2].capitalize()
surprise

['Groucho', 'Chico', 'Oprah']

In [19]:
# Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
#     chien, cat is chat, and walrus is morse.

In [20]:
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [21]:
# Q9. Write the French word for walrus in your three-word dictionary e2f.

In [23]:
e2f['walrus']

'morse'

In [24]:
# Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [27]:
f2e = {}
for i,j in e2f.items():
    f2e[j] = i
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [28]:
# Q11. Print the English version of the French word chien using f2e.

In [29]:
f2e['chien']

'dog'

In [30]:
# Q12. Make and print a set of English words from the keys in e2f.

In [31]:
eng_words = set(e2f.keys())
eng_words

{'cat', 'dog', 'walrus'}

In [32]:
# Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'.
#      Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'.
#      Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
#      Make all the other keys refer to empty dictionaries.

In [33]:
life = {'animals':{'cats':['Henri','Grumpy','Lucy'] , 'octopi':{} , 'emus':{}} , 'plants':{} , 'other':{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [34]:
# Q14. Print the top-level keys of life.

In [35]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [36]:
# Q15. Print the keys for life['animals'].

In [37]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [38]:
# Q16. Print the values for life['animals']['cats'].

In [43]:
for val in life['animals']['cats']:
    print(val,end=" ")

Henri Grumpy Lucy